<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<footer class="deep-purple darken-4">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Dev Ágil Sistemas</h5>
                <p class="grey-text text-lighten-4">Empresa de Desenvolvimento de Sistemas
                    Web em Java. Uma startup referência em inovação tecnologia que trabalha ,sempre com honestidade, comprometimento.</p>


            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Serviços</h5>
                <ul>
                    <li><a class="white-text" href="#!">Java EE</a></li>
                    <li><a class="white-text" href="#!">Spring MVC</a></li>
                    <li><a class="white-text" href="#!">Android</a></li>
                    <li><a class="white-text" href="#!">Jira Server</a></li>
                </ul>
            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Contatos</h5>
                <ul>
                    <li><a class="white-text" href="#!">contato@devagilsistemas.com.br</a></li>
                    <li><a class="white-text" href="#!">ricardo@devagilsistemas.com.br</a></li>
                    <li><a class="white-text" href="#!">+55 4199195-3187</a></li>
                    <li><a class="white-text" href="#!">+55 4199567-1754</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            GitHub <a class="orange-text text-lighten-3"
                      href="https://github.com//RSouzaTi">/RSouzaTi</a>
        </div>
    </div>
</footer>

</html>
